  #yellow {
            background-color: yellow;
            border: 1px solid black;
            padding: 10px;
        }

        #red {
            background-color: #f44336;
            border: 1px solid black;
            padding: 10px;
        }

        #green {
            backgroun-color: #4caf50;
            border: 1px solid black;
            padding: 10px;
        }