p {
    border: 1px solid rgb(0, 128, 0);
    padding: 10px;
}

#yellow {
    background-color: yellow;
	border-width: 1px;
	border-color: green;
}

#red {
    background-color: red;
	border-width: 1px;
	border-color: black;
}

#green {
    background-color: green;
	border-width: 1px;
	border-color: yellow;
}
